body {
    font-family: "Montserrat", sans-serif;
}

#title {
    text-align: center;
}

#map-container {
    /*position: relative*/
}

#map {
    /*margin: 0;*/

    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*margin-right: -50%;*/
    /*transform: translate(-50%, 100%)*/

}

.leaflet-container {
    height: 400px;
    width: 800px;
}

.top-buffer { margin-top:3%; }